{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <link href="{{ asset('css/Home.css') }}" rel="stylesheet"/>

    <div class="structure">
        <div class="body-pub">
            <div class="publicité">
                <img src="{{ asset('Pub/Pub_01.png') }}" class="imagePub">
            </div>
            <div class="promotions-home">
            </div>
        </div>

        <div class="body-promotions">
            <p>Promotions</p>
            <div class="promotions-home">
                <div class="horizontal-big"></div>
                <div class="trait-horizontal"></div>
            </div>
            <div class="promotion-produit">
                <div class="produit-home-promotion">
                    {% if articles.id is same as(4) %}
                        <p>{{ article.nom }}</p>
                        <img src="{{ image.lien }}"/>
                    {% endif %}
                    <h1>Hello</h1>
                </div>
                <div class="produit-home-promotion">
                    <h1>Hello</h1>
                </div>
                <div class="produit-home-promotion">
                    <h1>Hello</h1>
                </div>
                <div class="produit-home-promotion">
                    <h1>Hello</h1>
                </div>
            </div>
        </div>

        <div class="body-nouveautés">
            <p>Nouveautés</p>
            <div class="promotions-home">
                <div class="horizontal-big"></div>
                <div class="trait-horizontal"></div>
            </div>
            <div class="promotion-produit">
                <div class="produit-home-promotion">
                    <h1>Hello</h1>
                </div>
                <div class="produit-home-promotion">
                    <h1>Hello</h1>
                </div>
                <div class="produit-home-promotion">
                    <h1>Hello</h1>
                </div>
                <div class="produit-home-promotion">
                    <h1>Hello</h1>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
