{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>DateCommande</th>
                <th>ModeLivraison</th>
                <th>Qte</th>
                <th>PrixArticleCommande</th>
                <th>FraisPort</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% set currentCommandId = 0 %}
        {% for commande in commandes %}
            {% if currentCommandId is not same as (commande.codeCommand) %}
                <tr>
                    <td>
                        <a href="{{ path('commande_show', {'id': commande.id}) }}">Commande du {{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</a>
                    </td>
                </tr>
                {% set currentCommandId = commande.codeCommand %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
