{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <link href="{{ asset('css/User.css') }}" rel="stylesheet"/>

    <div class="user-flex">
        <div class="user-setting">
            <div class="user-img">

            </div>
            <p>Bonjour</p>
            <p class="name">CUL</p>
            <div class="disconnect">
                <a>ME DÉCONNECTER</a>
            </div>
        </div>
        <div class="user-info">
            <p></p>
        </div>
    </div>

{% endblock %}
