.all-article {
    display: flex;
    width: 87%;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.articleWithFilter {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 3.85%;
    background-color: white;
    box-shadow: 0px 2px 5px 2px rgba(191, 191, 191, 0.36);
}

.article {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: auto;
    width: 100%;
    margin: 1%;
    background-color: white;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(191, 191, 191, 0.36);
    -moz-box-shadow: 0px 2px 5px 2px rgba(191, 191, 191, 0.36);
    box-shadow: 0px 2px 5px 2px rgba(191, 191, 191, 0.36);
}

.text {
    font-family: 'Heebo', sans-serif, medium;
    font-size: 14px;
    color: #707070;
    text-decoration: none;
}

.text-promotion {
    display: flex;
    align-self: flex-start;
    font-family: 'Heebo', sans-serif, bold;
    font-size: 25px;
    color: #DD5252;
    text-decoration: none;
}

.nom-description {
    align-self: flex-start;
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 23%;
}

.crop {
    font-family: 'Heebo', sans-serif, medium;
    font-size: 14px;
    color: #454545;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-10 {
    padding: 10px;
    width: 250px;
}

.admin-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 3.85%;
}

.admin-a a {
    font-family: 'Heebo', sans-serif, regular;
    padding: 8px;
    background-color: #7699A7;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 1%;
    color: white;
    text-decoration: none;
}

.admin-a a:hover {
    background-color: #99C4D1;
}

.stock {
    margin: 10px;
    width: 20px;
}

.stock-texte {
    font-family: 'Heebo', sans-serif, medium;
    font-size: 14px;
    color: #707070;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.new {
    font-family: 'Heebo', sans-serif, bold;
    font-size: 17px;
    margin: 1%;
    color: #7699A7;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.show-edit {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 4%;
    margin-left: 25%;
}

.show-edit a {
    font-family: 'Heebo', sans-serif, regular;
    padding: 5px 10px 5px 10px;
    background-color: #7699A7;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 20%;
    color: white;
    text-decoration: none;
}

.show-edit a:hover {
    background-color: #99C4D1;
    cursor: pointer;
}

.prix {
    font-family: 'Heebo', sans-serif, regular;
    font-size: 22px;
    color: #7699A7;
    text-decoration: none;
    margin: 0;
}

.stock-price {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.btn {
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #ddd;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20%;
}

.custom-dropdown {
    margin: 10px;
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
    z-index: 10;
}
@media (min-width: 768px) {
    .select-box {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .select-box {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .select-box {
        width: 80%;
    }
}
.select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
.select-box__current:focus .select-box__icon {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    opacity: 1;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
.select-box__value {
    display: -webkit-box;
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
}
.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 1;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
    from {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    to {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    to {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

