{% extends 'base.html.twig' %}

{% block body %}

    <link href="{{ asset('css/New-Article.css') }}" rel="stylesheet"/>

{#    <h2 class="new-article">Create new Article</h2>#}

    {{ include('article/_form.html.twig') }}

{#    <a href="{{ path('article_index') }}">back to list</a>#}
{% endblock %}
